[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = CA
ST = Ontario
L = Oakville
O = Midland Food
OU = IT
CN = app.corp.midlandfood.ca

[req_ext]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = app.corp.midlandfood.ca
IP.1 = 10.16.10.66